
/* noto-sans-sc-700 - latin_chinese-simplified */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url('../font/noto-sans-sc-v26-latin_chinese-simplified-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/noto-sans-sc-v26-latin_chinese-simplified-700.woff2') format('woff2'), /* Super Modern Browsers */
}

/* noto-sans-sc-500 - latin_chinese-simplified */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url('../font/noto-sans-sc-v26-latin_chinese-simplified-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/noto-sans-sc-v26-latin_chinese-simplified-500.woff2') format('woff2'), /* Super Modern Browsers */
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 3px;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* default values */
:root {
  --primaryColor: #ffffff;
  --secondaryColor: #222222;
  --darkgray: #222222;
  --imagesize: 250px;
  --smallimagesize: 120px;
  --titleMain: 4vh;
  --titleHalf: 2vh;
  --spaceFromTop: 7vh;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

ul {
  margin:0;
  padding:0;
  list-style: none;
  display: inline-block;
}

li {
  display: inline;
  align-content: center;
}




.cd {
  text-align: center;
}

#canvas{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.backgroundDiv{
  background: var(--primaryColor);
  /*background: var(--primaryColor);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--primaryColor) 50%);
  */
  position: absolute;
  height: 13vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  transition: 0ms;
}
#backgroundDivAbout{
  background: var(--primaryColor);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  transition: 0ms;
}
#backgroundQuote{
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  top: 12vh;
  left: 0;
  z-index: -5;
  transition: 0ms;
  font-size: var(--titleHalf);
  line-height: var(--titleHalf);
  color: var(--primaryColor);
  letter-spacing: -1px;
}

.bodystyle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
.side-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: absolute;
  font-size: 1.5vw;
  line-height: 3vw;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 2vh 0 1vh 0;
  pointer-events: none;

}*/

.tt1 {
  color: var(--secondaryColor);
  font-size: var(--titleMain);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 12vh;
  margin: 15vh 2vw 15vh;
  position: relative;
  text-decoration: none;
  transition: 300ms;
  pointer-events: auto;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.tt1::after {
  content: "";
  position: absolute;
  left: -10%;
  top: 0.55em;
  width: 120%;
  height: 1.25vw;
  background: currentcolor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 360ms ;
}


.tt1:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.tt1-on {
  color: var(--secondaryColor);
  font-size: var(--titleMain);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  line-height: 12vh;
  margin: 15vh 2vw 15vh;
  position: relative;
  text-decoration: none;
  width: 10vw;
  transition: 300ms;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.tt1-on::after {
  content: "";
  position: absolute;
  left: -10%;
  top: 0.55em;
  width: 120%;
  height: 1.25vw;
  background: currentcolor;
  transform: scaleX(1);
  transform-origin: right;
  transition: 360ms ;
}


.tt1-on:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

.logo {
  width: 13%;
  margin: 0% 4.5% 10% 26%;
  float: left;
  pointer-events: none;
}

.p1 {
  color: var(--primaryColor);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: 2vw;
  text-align: left;
  margin: 25vh 0 0 40vw;
  line-height: 3vw;

}
#aboutDiv{
  margin: 20vh 0 0 40vw;
}
#aboutText{
  color: var(--secondaryColor);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: 1.6vw;
  text-align: left;
  margin: 0 0 0 40vw;
  line-height: 2.6vw;
}

.break {
  width: 100%;
  display: absolute;
}

.line1 {
  height: 0.4vh;
  background: var(--secondaryColor);
  margin: 0 20vw 0;
}

/* TYPE */ /* TYPE */ /* TYPE */
/* TYPE */ /* TYPE */ /* TYPE */
/* TYPE */ /* TYPE */ /* TYPE */
.button-grid {
  gap: 1vw;
  grid-template-columns:
    repeat(3, 1fr);
  margin: var(--spaceFromTop) 20vw 3vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


.button-type {
  position: static;
  margin: 0 1vh 0;
  
  outline: none;
  border-radius: 3em;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primaryColor);
  background: transparent;
  color: var(--primaryColor);
  
  cursor: pointer;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  font-size: 1.8vh;
  width: 5em;
  height: 2.6em;
  
  
}

.button-type:hover {
  transition: 300ms;
  
}

.type-grid {
  display: grid;
  gap: 0.7vw;
  grid-template-columns:
    repeat(5, 1fr);
  margin: 0 5% 0;
  height: 100%;
}

.typeDiv{
  width: 100%;
  z-index: -5;
  transition: 400ms;
  user-select: none;
}

.type {
  position: relative;
  width: 100%;
  z-index: 5;
  transition: 400ms;
  height: auto;
}
.typeImage{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: 300ms;
  z-index: 15;
  padding: 0;
  border-radius: 0.5vw;
  user-select: none;
  
}
.typeImage:hover{
    transition: 420ms;
}
.typeDiv{
  position: relative;
  top: 0;
  width: 100%;
  height: 0;
}

.typeBackground{
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 100%;
  z-index: -12;
  border-radius: 0.5vw;
}

.typeTitle{
  position: relative;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120%;
  z-index: -5;
  line-height: 120%;
  margin: 0 6% 10%;
  text-align: left;
  top: 2vh;
  
}

.typeText{
  position: relative;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 80%;
  line-height: 120%;
  z-index: -5;
  margin: 5% 6.4% 0;
  text-align: left;
}
.typeSource{
  position: relative;
  font-size: 60%;
  line-height: 90%;
  text-align: right;
  margin: 5% 8% 0;
}



/* POSTER */
.poster-grid {
  display: grid;
  gap: 2vw;
  grid-template-columns:
    repeat(4, 1fr);
  margin: var(--spaceFromTop) 5% 2rem;
}

.poster {
  width: 100%;
  filter: grayscale(0);
  opacity: 1;
  transition: 300ms;
  display: block;
  margin: 0 0.8% 1.6%
}

#tiaodao-gif:hover {
  content: url('mis/tiaodao poster gif.gif');
}

#diaolan-gif:hover {
  content: url('mis/diaolan gif.gif');
}
#santi1-gif:hover {
  content: url('mis/santi1 gif.gif');
}

/* BRAND */
.brand-grid {
  display: grid;
  gap: 3%;
  grid-template-columns:
    repeat(2, 1fr);
  margin: 3rem 10% 2rem;
  height: 100%;
}

.brand {
  width: 100%;
  opacity: 1;
  transition: 1600ms;
  position: relative;
}

.brand:hover {
  cursor: pointer;
}

.brand-info-left {
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  display: absolute;
  bottom: 0;
  left: 0.6rem;
  transition: 300ms;
  opacity: 0;
  pointer-events: none;
  white-space: pre;
  
}

#brand-popup {
  background: black;
  display: none;
  opacity: 70%;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#brand-popup:hover {
  cursor: crosshair;
}

#brand-item-youyanshe {
  position: fixed;
  display: none;
  top: 0;
  justify-content: center;
  align-items: center;
  margin: 3% 20% 0;
  overflow-y: scroll;
  width: 60%;
  height: 88%;
  z-index: 6;
}

#brand-img-youyanshe {
  transition: 500ms;
}

.brand-image {
  width: 100%;
  display: flex;
  margin: 1% auto 0;
  display: absolute;

}

#brand-img-youyanshe {
  width: 100%;
  opacity: 1;
}

.copyright {
  
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  font-size: 1.6vh;
  margin: 4vh 0 2%;
  text-align: center;
}

 /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */
 /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */
#homepageGroup {
  background: var(--primaryColor);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -5;
  transition: 0ms;
}
#homepageImage {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  width: 62vh;
  margin:12vh auto 0% ;
  user-select: none;
}
#homepageQuote{
  position: relative;
  text-align: center;
  font-size: var(--titleMain);
  color: black;
  
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  user-select: none;
  transition: 1200ms;
}

#homepageSource{
  position: relative;
  text-align: center;
  font-size: 2.2vh;
  color: black;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  top: 1.2vh;
  user-select: none;
  transition: 1200ms;
}
#homepageName{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: absolute;
  font-size: 12vh;
  color: black;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  top: 1.2vh;
  user-select: none;
}

#homeBtn{
  position: fixed;
  margin: 2.5%;
  font-style: none;
  padding: 1vw 5vw;
  border-radius: 20vw;
  border: none;
  background-color: var(--secondaryColor);
  transition: 700ms;
  z-index: 20;
  justify-content: center;
  align-items: center;
  border-width: 1.2px;
  border-color: var(--primaryColor);
  border-style: solid;
  
}
#homeBtn:hover { transition: 1800ms; }
#homeBtnText{
  position: relative;
  left: -2.5vw;
  z-index: 30;
  font-size: 5vw;
  letter-spacing: -5vw;
  text-decoration: none;
  margin: 0;
  text-align: center;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--primaryColor);
  user-select: none;
  -webkit-text-stroke: 1px var(--primaryColor);
  transition: 500ms;
}


#homepageFooter{
  display: inline;
  position: relative;
  font-size: 0.6em;
  font-size: 1.4vh;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;  
  bottom: 1.2vh;
  color: var(--secondaryColor);
  transition: 1200ms;
}
#homepageBtn{
  display: inline;
  position: relative;
  font-size: 1.8vh;
  bottom: 1.2vh;
  left: 2vw;
  height: 3.6vh;
  width: 11vh;
  border-radius: 3vh;
  border-color: transparent;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  box-shadow: none;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-style: normal;
  font-weight: 700;
  
  transition: 500ms;;
}
#homepageBtn:hover {
  border-color: var(--secondaryColor);
  color: var(--secondaryColor);
  background-color: transparent;
  cursor: pointer;
  
}


/* medium screens */
@media (max-width: 1040px) {
  .type-grid {
    display: grid;
    gap: 1.2vw;
    grid-template-columns:
      repeat(4, 1fr);
    margin: 2vh 5% 2rem;
    height: 100%;
  }
}
/* mobile devices */
@media (max-width: 708px) {
  .poster-grid {
    grid-template-columns:
      repeat(2, 1fr);
      margin: 2rem 2rem 2rem;
      gap: 2vw;
  }
  .poster {
    width: 40vw;
  }

  .yi {
    color: var(--darkgray);
    font-size: 10vw;
    font-family: Source Han Sans CN black;
    line-height: 6vh;
    margin: 10vh 0vw 5vh;
  }

  .tt1 {
    line-height: 8vh;
    margin: 8vh 5vw 8vh;
    font-size: 4vw;
  }
  .tt1-on {
    line-height: 8vh;
    margin: 8vh 5vw 8vh;
    font-size: 4vw;
  }

  .logo {
    width: 50%;
    margin: 3% 4.5% 0% 26%;
    pointer-events: none;
  }

  .p1 {
    color: var(--darkgray);
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-weight: 500;
    font-size: 3vw;
    text-align: left;
    position: relative;
    margin: 0% 0 0 28vw;
    line-height: 1.92em;
  }

  .break {
    width: 100%;
    display: flex;
  }

  .brand-grid {
    display: grid;
    gap: 3vw;
    grid-template-columns:
      repeat(1, 1fr);
    margin: 3rem 5% 2rem;
  }

  .copyright {
    position: relative;
    font-size: 0.6em;
  }



  /* TYPE */

  .button-grid {
    display: grid;
    gap: 0.6vw;
    grid-template-columns:
      repeat(3, 1fr);
    margin: var(--spaceFromTop) 34vw 0;
    text-align: center;
  }
  .button-type {
    position: static;
    margin: 0 0.5vw 0;
    border: none;
    outline: none;
    border-radius: 3em;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primaryColor);
    color: var(--primaryColor);
    background: transparent;
    cursor: pointer;
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-weight: 700;
    font-size: 2.4vw;
    width: 5em;
    height: 3em;
  }
  .type-grid {
    display: grid;
    gap: 1.2vw;
    grid-template-columns:
      repeat(3, 1fr);
    margin: 2vh 5% 2rem;
    height: 100%;
  }

  .typeTitle{
    position: relative;
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    z-index: -5;
    line-height: 60%;
    margin: 0 6% 20%;
    text-align: left;
    top: 2vh;
    
  }
  
  .typeText{
    position: relative;
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 3vw;
    z-index: -5;
    margin: 5% 6.4% 0;
    text-align: left;
  }

  .typeSource{
    position: relative;
    font-size: 1.6vw;
    line-height: 50%;
    text-align: right;
    margin: 5% 8% 0;
  }
  

  /* HOMEPAGE */

  #homepageImage {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin:9vh auto 2vh ;
    user-select: none;
  }

  #homepageQuote{
    position: relative;
    text-align: center;
    font-size: 4vw;
    color: black;
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-weight: 700;
    user-select: none;
  }
  
  #homepageSource{
    position: relative;
    text-align: center;
    font-size: 2vw;
    color: black;
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-weight: 500;
    top: 0.5vh;
    user-select: none;
  }

  #homeBtn{
    position: fixed;
    margin: 3%;
    font-style: none;
    border-radius: 20vw;
    
    border: none;
    background-color: var(--secondaryColor);
    transition: 500ms;
    z-index: 20;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-width: 1.2px;
    border-color: var(--primaryColor);
    border-style: solid;

  }

  #homeBtnText{
    z-index: 30;
    text-decoration: none;
    
    padding: 2vw 2vw;
    text-align: center;
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--primaryColor);
    user-select: none;

  }


  #aboutText{
    color: var(--secondaryColor);
    font-family: "Noto Sans SC", PingFang SC, sans-serif;
    font-weight: 700;
    font-size: 4vw;
    text-align: left;
    margin: 0 0 0 30vw;
    line-height: 6vw;
  }

  .backgroundDiv{
    background: var(--primaryColor);
    /*background: var(--primaryColor);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--primaryColor) 50%);
    */
    position: absolute;
    height: 8vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -5;
    transition: 0ms;
  }
  
}