html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide both horizontal and vertical scrollbars */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
}