
:root {
  --hanziDisplaySize: 15vh;
  --hanziBoxSize: 20vh;
  --iterationMargin: 3.5px;
}



html{
    overflow: scroll;
}

/* NOTES APP */
#notesGrid {
    display: grid;
    gap: 0.7vw;
    grid-template-columns:
      repeat(5, 1fr);
    margin: 0 5% 0;
    height: 100%;

    
}
.card{
  width: 100%;
}

#notesText{
  color: var(--secondaryColor);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: clamp(1.1em, 3.8vh, 5vh);
  text-align: left;
  line-height: clamp(1.4em, 5vh, 6vw);
  width: 90%;
  margin: 5vh 5vw 5vh;
  position: relative;
}
.list-group-item{
  font-size: small;
}
.card-body{
  font-size: small;
}
.card-text{
  font-size: large;
}

/* hanzi */
#searchDiv{
  display: flex;
  flex-wrap: wrap;
}

#dropdownDiv{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}
#dropdownSelector{
  position: absolute;
  display: none;
  
}
#dropdownBtn{
  
  cursor: pointer;
  
  margin-left: 3vw;
  border: 3px;
  border-style: solid;
  border-color: var(--secondaryColor);
  transition: 300ms;
  font-size: 3vh;
}

.dropdownFilters{
  margin-top: -3px;
  margin-left: -3px;
  border: 3px;
  border-style: solid;
  border-color: var(--secondaryColor);
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
 
  z-index: 40;
}

.textStyleBtn{
  cursor: pointer;
  border: 3px;
  border-style: solid;
  border-color: var(--secondaryColor);
  margin: 2vh 0 3vh 1vw;
  line-height: 5vh;
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  font-size: 4vh;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  
  z-index: 20;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: 400ms;
}

#searchInput{
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  display: block;
  font-size: 5vh;
  margin: 2vh 0 3vh;
  overflow-wrap: normal;
  height: 8vh;
  line-height: 6vh;
}



#hanziFlex{
  display: flex;
  gap: 2vw;
  height: 100%;
  flex-wrap: wrap;

}
.hanziDisplayGroup{
  display: flex;
  
  height: 100%;
}

.uniqueHanzi{
  width: var(--hanziBoxSize);
  height: var(--hanziBoxSize);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: var(--hanziDisplaySize);
  line-height: var(--hanziBoxSize);
  text-align: center;
  border: 4px;
  border-style: solid;
  position: relative;
  transition: 400ms;
  z-index: 2;
}
.subHanzi{
  width: var(--hanziBoxSize);
  height: var(--hanziBoxSize);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: var(--hanziDisplaySize);
  line-height: var(--hanziBoxSize);
  text-align: center;
  border: var(--iterationMargin);
  border-style: dashed;
  position: relative;
  margin-left: -3.5px;
  transition: 400ms;
  z-index: 0;

}

.strokeNum{
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  font-size: 2vh;
  line-height: 2vh;
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
  user-select: none;
}

@media (max-width: 708px) {
  
  
  #notesGrid {
    display: grid;
    gap: 0.7vw;
    grid-template-columns:
      repeat(2, 1fr);
    margin: 0 5% 0;
    height: 100%;

    
}
  
    }