
:root {
  --hanziDisplaySize: 15vh;
  --hanziBoxSize: 20vh;
}



html{
    overflow: scroll;
}

/* NOTES APP */
#notesGrid {
    display: grid;
    gap: 0.7vw;
    grid-template-columns:
      repeat(5, 1fr);
    margin: 0 5% 0;
    height: 100%;

    
}
.card{
  width: 100%;
}

#notesText{
  color: var(--secondaryColor);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: clamp(1.1em, 3.8vh, 5vh);
  text-align: left;
  line-height: clamp(1.4em, 5vh, 6vw);
  width: 90%;
  margin: 5vh 5vw 5vh;
  position: relative;
}
.list-group-item{
  font-size: small;
}
.card-body{
  font-size: small;
}
.card-text{
  font-size: large;
}

/* hanzi */
#ziInput{
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  display: block;
  font-size: clamp(0.8em, 2.8vh, 4vh);;
  margin: 2vh 0 3vh;
}
#hanziFlex{
  display: flex;
  gap: 2.5vw;
  height: 100%;
  flex-wrap: wrap;

}
.hanziDisplayGroup{
  display: flex;
  gap: 0.8vw;
  height: 100%;
}

.uniqueHanzi{
  width: var(--hanziBoxSize);
  height: var(--hanziBoxSize);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: var(--hanziDisplaySize);
  line-height: var(--hanziBoxSize);
  text-align: center;
  border: 3.2px;
  border-style: solid;
  user-select: none;
  position: relative;
}
.subHanzi{
  width: var(--hanziBoxSize);
  height: var(--hanziBoxSize);
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 700;
  font-size: var(--hanziDisplaySize);
  line-height: var(--hanziBoxSize);
  text-align: center;
  border: 3px;
  border-style: dashed;
  user-select: none;
  position: relative;
}

.strokeNum{
  font-family: "Noto Sans SC", PingFang SC, sans-serif;
  font-weight: 500;
  font-size: 2vh;
  line-height: 2vh;
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
}

@media (max-width: 708px) {
  
  
  #notesGrid {
    display: grid;
    gap: 0.7vw;
    grid-template-columns:
      repeat(2, 1fr);
    margin: 0 5% 0;
    height: 100%;

    
}
  
    }